*{
    background-color: rgb(255, 227, 104);
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
h2{
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
p{
    text-align: left;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}