/* Caractéristiques du body + background-color au cas où l'image de fond d'écran ne s'affiche pas*/
body {
    background-color: #b6d7a8;
    font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
ul,
header div,
a,
label {
    text-align: justify;
    text-decoration: none;
}

/* Caractéristiques de la barre de navigation */
header {
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #274e13a9;
    display: flex;
    align-items: center;
}

header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    font-size: 90%;
    line-height: 100%;
    margin: 5%;
    height: 80%;
    width: 100%;
}

header .titre {
    font-size: 5vw;
    color: #ffd966;
    margin: 5%;
    margin-left: 0px;
}

header a img {
    float: left;
    height: 100%;
    width: auto;
}

header a:not(:first-child) {
    display: flex;
    background-color: #8dd16fce;
    border: 3px solid #ffd966;
    border-radius: 0px 12px 0px 12px;
    margin-left: auto;
    position: relative;
}

header a:not(:first-child)::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #af9d00;
    z-index: -1;
}


/* Caractéristiques du fond d'écran */

.bgvert {
    background-color: #87e27fc4;
}

.fondecran {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

.arrettram {
    background-image: url("../img/arrettram.jpg");
}

.arrettramBU {
    background-image: url("../img/arrettramBU.jpg");
}

.metroB {
    background-image: url("../img/metrob.jpg");
}

/* Caractéristiques du main */

main {
    margin-left: 10%;
    margin-right: 10%;
}


main h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    background-color: transparent;
    text-shadow: rgba(83, 78, 2, 0.8) 5px 10px 5px;
}

main h2 {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
    text-align: center;
}

main h3 {
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
}

main h4 {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
}

main p {
    margin-left: 10%;
    margin-right: 10%
}

main em {
    font-style: normal;
    background-color: #94962273;
}


.popout{
    transition: transform 0.3s ease-in-out;
}

.popout:hover{
    transform: scale(1.15);
}

/* Caractéristiques des images qui servent de liens */

.img-lien {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%
}

.img-lien a {
    display: flex;
    flex-direction: column;
}

.img-lien a p {
    text-decoration: none;
    text-align: center;
}

.img-lien a div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.img-lien a img {
    height: 15vw;
    max-height: 350px;
    width: auto;
}

.img-lien a div::before,
.img-lien a div::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 2px solid #f3f046c0;
    transition: all .25s ease-out;
}

.img-lien a div::before {
    background-color: #f3f046c0;
    top: -15px;
    left: -15px;
}

.img-lien a div::after {
    bottom: -15px;
    right: -15px;
}

.img-lien a div:hover {
    &::before {
        top: 15px;
        left: 15px;
    }

    &::after {
        bottom: 15px;
        right: 15px;
    }
}

/* Caractéristiques des éléments dans une boite jaune */
.box {
    background-color: #f3f046c0;
    margin: 10%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: rgba(240, 227, 46, 0.4) 5px 5px, rgba(227, 240, 46, 0.3) 10px 10px, rgba(237, 240, 46, 0.2) 15px 15px, rgba(237, 240, 46, 0.1) 20px 20px, rgba(240, 237, 46, 0.05) 25px 25px;
}


cite {
    font-size: 20px;
}


/* Caractéristiques des listes */

ul {
    margin-right: 5%;
}

li {
    margin-bottom: 3%;
}

/* Caractéristiques du formulaire */

form {
    display: flex;
    flex-wrap: wrap;
}

input {
    border: none;
    background: #87e27f;
    border-radius: .25rem;
    padding: .75rem 1rem;
}

input[class="submit"] {
    background: #55e868;
    box-shadow: 0 .75rem .5rem -.5rem #87e27f;
    
}

input[type=radio] {
    height: 1.09em;
    aspect-ratio: 1;
    /* ^^^^ ceci apparaît comme une erreur mais est nécessaire et nous n'avons pas trouvé de remplacement*/
    border: calc(1.09em/8) solid #000000;
    padding: calc(1.09em/8);
    background:
        radial-gradient(farthest-side, #55e868 94%, #0000) 50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(1.09em/10);
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
}

input[type=radio]:checked {
    border-color: #55e868;
    background-size: 100% 100%;
}

.checkbox input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox {
    --size: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
}

.checkbox label {
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    border: 3px solid;
    float: left;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    color: #000000;
}

.checkbox input[type=checkbox]:checked+label {
    background: #55e868;
}

.checkbox input[type=checkbox]:checked+label:before {
    left: 20px;
}

.checkbox label:before {
    transition: .3s ease;
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #ffffff;
    left: 2px;
    top: 2px;
    box-sizing: border-box;
    border: 3px solid;
    color: #000000;
    border-radius: 100px;
}

/* Caractéristiques du footer */
footer {
    background-color: #274e13;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer a {
    flex: 3;
    text-decoration: none;
    color: #ffd966;
    margin-bottom: 20px;
}

footer p {
    font-size: 15px;
    margin-left: 1vh;
    text-align: left;

}

footer div :last-child {
    margin-top: 5px;
}

footer img:last-child {
    height: 10vw;
    width: auto;
}



/* Responsive design pour écran de moins de 700 px */
@media (max-width: 700px) {
    header {
        position: fixed;
        z-index: 1;
    }

    .titre {
        display: none;
    }

    main h1 {
        font-size: 40px;
        margin-top: 100px;

    }

    /* img-lien */
    .img-lien a p{
        display: none;
    }

    /* footer */
    footer>div:nth-child(3){
        display: none;
    }

}

/* Responsive design pour le mode imprimer */

@media print {
    main h1 {
        font-size: 40px;
    }

    header {
        display: none;
    }
    
    footer img{
        display: none;
    }
}