/* Caractéristiques du body au cas où l'image de fond d'écran ne marche pas*/
body {
    background-color: #b6d7a8; 
}

p, h1, h2, h3, h4, ul, header div{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

/* Caractéristiques de la barre de headerigation */
header {
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #274e13;
    display: flex;
    align-items: center;
}

header a{
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    font-size:90%;
    line-height: 100%;
    margin: 5%;
    height: 80%;
    width: 100%;
}

.titre {
    font-size: 5vw;
    color: #ffd966;
    margin: 5%;
    margin-left: 0px;
}

header a img {
    float: left;
    height: 100%;
    width: auto;
    transition: transform 0.3s ease-in-out;
}


header a.header-droite {
    display: flex;
    background-color: #b6d7a8;
    border: 3px solid #ffd966;
    margin-left: auto; /* Move elements to the right */
}

header a p{
    display: inline-block;
    text-align: justify;
    font-size: 1em;
    overflow-wrap: break-word;
}

header a:not(:first-child):hover {
    background: #91c26e;
}

.popup:hover{
    transform: scale(1.1);
}

/* Caractéristiques du main */
.bgvert{
    background-color: #b6d7a8;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

.fondecran{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    margin: 0px;
    padding:  0px;
}

.arrettram{
    background-image: url("../img/arrettram.jpg");
}

.arrettramBU{
    background-image: url("../img/arrettramBU.jpg");
}

main h1 {
    text-align: center;
    color: #000000;
    font-size: 60px;
    background-color:transparent;
}


main h2 {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
    text-align:center;
}

main h3 {
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
}

main p {
    margin-left: 10%;
    margin-right: 10%
}

.img-lien {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%
}

.img-lien a{
    display: flex;
    flex-direction: column;
}
.img-lien a p{
    text-decoration: none;
    text-align: center;
}

.img-lien div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-lien a img{
    height: 15vw;
    max-height: 350px;
    width: auto;
    max-width: auto;
}

/* Caractéristiques du footer */
footer {
    background-color: #274e13;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer a {
    flex: 3;
    text-decoration: none;
    color:#ffd966;
    margin-bottom: 20px;
}

footer p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-left: 1vh;
    text-align: left;
    
}

footer div :last-child{
    margin-top: 5px;
}

footer img:last-child{
    height: 10vw;
    width: auto;
}

/* Responsive design pour écran de moins de 700 px */
@media (max-width: 700px) 
{
    header{
        position: fixed;
    }

    main h1{
        font-size: 40px;
        margin-top: 100px;

    }
}