/* Caractéristiques du body */
body {
    background-color: #b6d7a8;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Caractéristiques de la barre de navigation */
nav {
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 9%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #274e13;
    display: flex;
    align-items: center;
}

nav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 100%;
    border-radius: 4px;
    margin-right: 3vh;
}

.titre {
    font-family: didot;
    font-size: 5vh;
    text-align: center;
    color: #ffd966;
    margin-top: 1vh;
}

nav a img {
    height: 8vh;
    float: left;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    padding: 0.5vh;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.header-droite {
    display: flex;
    background-color: #b6d7a8;
    border-radius: 3px solid #ffd966;
    margin-left: auto; /* Move elements to the right */
}

header {
    margin-top: 0px;
}

/* Caractéristiques du main */
.fondecran{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    background-image: url("../img/arrettram.jpg");
    
}

h1 {
    margin-top: 9vh;
    font-family: didot;
    text-align: center;
    color: #ffd966;
    font-size: 100px;
}

h2, h3, p {
    background-color: #b6d7a8;
}
h2 {
    text-align: left;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
}

h3 {
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
    background-color: #b6d7a8;
}

p {
    margin-left: 10%;
    margin-right: 10%
}

.img-lien {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10vh;
    align-items: center;
    justify-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.img-lien a img{
    height: 20vh;
}

/* Caractéristiques du footer */
footer {
    background-color: #274e13;
    height: 20vh;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    margin: 0px;
    display: flex;
    align-items: center;
    align-content: center;
}

footer a {
    margin-right: 3vh;
    flex: 3;
}

footer p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-left: 1vh;
}